[workspace]
members = [
  "pkarr", "relay", "bindings/js",
]

# See: https://github.com/rust-lang/rust/issues/90148#issuecomment-949194352
resolver = "2"

[workspace.metadata.crane]
name = "pkarr"

[workspace.dependencies]
reqwest = { version = "0.13", default-features = false, features = ["rustls"] }
rustls = { version = "0.23", default-features = false, features = ["ring", "std"] }

# Pinned: digest 0.11.0-rc.11+ removed crypto_common re-export, breaking curve25519-dalek
# See: https://github.com/pubky/mainline/issues/80
digest = "=0.11.0-rc.9"
