{
  "env": {
    "development": {
      "presets": [
        ["babel-preset-solid"]
      ],
      "plugins": [
        ["module:solid-refresh/babel"]
      ]
    },
    "production": {
      "presets": [
        ["babel-preset-solid"]
      ],
      "plugins": [
      ]
    }
  }
}
